<section>
  <div class="section-body contain-lg">
    <!-- BEGIN INTRO -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-primary">Service Management</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table-container mat-elevation-z8">
          <div class="table-header">
            <div class="row">
              <div class="col-lg-7 col-md-7 col-sm-12">
                <h3 style="color: grey">Service List</h3>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-12">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
            </div>
          </div>

          <mat-table #table [dataSource]="dataSource">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> Service ID </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <!-- Service Type Column -->
            <ng-container matColumnDef="Type">
              <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="Description">
              <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
            </ng-container>

            <!-- Service Status Column -->
            <ng-container matColumnDef="Status">
              <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
            </ng-container>

            <!-- Flight No Column -->
            <ng-container matColumnDef="Flight">
              <mat-header-cell *matHeaderCellDef> Flight No </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a data-toggle="modal" data-target="#flightModal" (click)="viewFlight(element.flight)" *ngIf="element.flight">
                    <span>View</span>
                  </a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Option">
              <mat-header-cell *matHeaderCellDef> Option</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#formModal" (click)="update(element)">
                  <span class="glyphicon glyphicon-eye-open"></span>
                </button>
                <!--<button class="btn btn-sm btn-default" data-toggle="modal" data-target="#deleteModal">-->
                  <!--<span class="glyphicon glyphicon-trash"></span>-->
                <!--</button>-->
              </mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 20]"
                         [showFirstLastButtons]="true">
          </mat-paginator>
        </div>

      </div>
    </div>
  </div>
  <!-- BEGIN FORM MODAL MARKUP -->
  <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="formModalLabel" >Service Detail</h4>
        </div>
        <form class="form-horizontal" role="form">
          <div class="modal-body">
            <div class="form-group">
              <div class="col-sm-3">
                <label for="serviceId" class="control-label">Service ID</label>
              </div>
              <div class="col-sm-9">
                <input type="text" name="serviceId" id="serviceId" class="form-control" [(ngModel)]="serviceInfo.id" placeholder="Service ID" [disabled]="true">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="serviceType" class="control-label">Type</label>
              </div>
              <div class="col-sm-4">
                <input id="serviceType" name="serviceType" [(ngModel)]="serviceInfo.type" class="form-control" placeholder="Type" [disabled]="true">
              </div>
              <div class="col-sm-2">
                <label for="serviceStatus" class="control-label">Status</label>
              </div>
              <div class="col-sm-4">
                <input id="serviceStatus" name="serviceStatus" [(ngModel)]="serviceInfo.status" class="form-control" placeholder="Status" [disabled]="true">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-3">
                <label for="description" class="control-label">Description</label>
              </div>
              <div class="col-sm-9">
                <input type="text" name="description" id="description" class="form-control" [(ngModel)]="serviceInfo.description" placeholder="Description" [disabled]="true">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-3">
                <label for="flight" class="control-label">Flight</label>
              </div>
              <div class="col-sm-9">
                <input id="flight" name="flight" [(ngModel)]='serviceInfo.flight' class="form-control" [disabled]="true">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- END FORM MODAL MARKUP -->

  <!-- BEGIN FLIGHT MODAL MARKUP -->
  <div class="modal fade" id="flightModal" tabindex="-1" role="dialog" aria-labelledby="flightModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="formModalLabel1">View Flight Details</h4>
        </div>
        <form class="form-horizontal" role="form">
          <div class="modal-body">
            <div class="form-group">
              <div class="col-sm-2">
                <label for="flightNo" class="control-label">Flight No.</label>
              </div>
              <div class="col-sm-4">
                <input type="text" name="flightNo" id="flightNo" class="form-control" [(ngModel)]='flight.flightNumber' placeholder="Flight No." [disabled]="true">
              </div>
              <div class="col-sm-2">
                <label for="departDate" class="control-label">Depart Date</label>
              </div>
              <div class="col-sm-4">
                <span id="departDate">{{flight.departureTime | date}}</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="depart" class="control-label">Departure</label>
              </div>
              <div class="col-sm-4">
                <input type="text" name="depart" id="depart" class="form-control" [(ngModel)]='flight.origin' placeholder="Departure" [disabled]="true">
              </div>
              <div class="col-sm-2">
                <label for="landing" class="control-label">Landing</label>
              </div>
              <div class="col-sm-4">
                <input type="text" name="landing" id="landing" class="form-control" [(ngModel)]='flight.destination' placeholder="Landing" [disabled]="true">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4">
                <label for="ccs" class="control-label">Cabin Crew Supervisor</label>
              </div>
              <div class="col-sm-6">
                <input type="text" name="ccs" id="ccs" class="form-control" [(ngModel)]='flight.cabinCrew' placeholder="Crew" [disabled]="true">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-3">
                <label for="paxload" class="control-label">Passenger Loading</label>
              </div>
              <div class="col-sm-9">
                <input type="number" name="paxload" id="paxload" class="form-control" placeholder="Number of Passengers" [disabled]="true">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- END FLIGHT MODAL MARKUP -->


</section>
