<section>
  <div class="section-body contain-lg">
    <!-- BEGIN INTRO -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-primary">Cargo Management</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <div class="table-container mat-elevation-z8">
          <div class="table-header">
            <div class="row">
              <div class="col-lg-7 col-md-7 col-sm-12">
                <h3 style="color: grey">Cargo List</h3>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-12">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
            </div>
          </div>

          <mat-table #table [dataSource]="dataSource">

            <!-- ID Column -->
            <ng-container matColumnDef="CargoNo">
              <mat-header-cell *matHeaderCellDef> Cargo No. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.cargoNo}} </mat-cell>
            </ng-container>

            <!-- Model Column -->
            <ng-container matColumnDef="ItemType">
              <mat-header-cell *matHeaderCellDef> Item Type </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.itemType}} </mat-cell>
            </ng-container>

            <!-- Cargo Capacity Column -->
            <ng-container matColumnDef="Weight">
              <mat-header-cell *matHeaderCellDef> Weight (in ton) </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
            </ng-container>

            <!-- Cargo Capacity Column -->
            <ng-container matColumnDef="Status">
              <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Option">
              <mat-header-cell *matHeaderCellDef> Option</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#formModal" (click)="update(element)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#deleteModal">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 20]"
                         [showFirstLastButtons]="true">
          </mat-paginator>
        </div>
        <div class="generateBtn">

          <button type="button" class="btn ink-reaction btn-raised btn-primary" data-toggle="modal"
                  data-target="#formModal" (click)="create()">
            Add Cargo
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- BEGIN CARGO MODAL MARKUP -->
  <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="formModalLabel" *ngIf="isCreate">Add Cargo</h4>
          <h4 class="modal-title" id="formModalLabel1" *ngIf="!isCreate">Edit Cargo</h4>
        </div>
        <form class="form-horizontal" role="form">
          <div class="modal-body">
            <div class="form-group">
              <div class="col-sm-2">
                <label for="cargoNo" class="control-label">Cargo No.</label>
              </div>
              <div class="col-sm-4">
                <input type="text" name="cargoNo" id="cargoNo" class="form-control" [(ngModel)]='cargo.cargoNo' placeholder="Cargo No.">
              </div>
              <div class="col-sm-2">
                <label for="itemType" class="control-label">Item Type</label>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="itemType" id="itemType" [(ngModel)]='cargo.itemType' placeholder="Item Type">
              </div>
              <div class="col-sm-2">
                <label for="weight" class="control-label">Weight</label>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="weight" id="weight" [(ngModel)]='cargo.weight' placeholder="Weight (in ton)">
              </div>
              <div class="col-sm-2">
                <label for="status" class="control-label">Status</label>
              </div>
              <div class="col-sm-4">
                <select id="status" name="status" class="form-control" [(ngModel)]="cargo.status">
                  <option value="pending">Pending</option>
                  <option value="approved">Approved</option>
                  <option value="rejected">Rejected</option>
                  <option value="collected">Collected</option>
                  <option value="delivered">Delivered</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Done</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- END CARGO MODAL MARKUP -->

  <!-- BEGIN SIMPLE MODAL MARKUP -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="simpleModalLabel">Deleting Cargo</h4>
        </div>
        <div class="modal-body">
          <p>Do you want to delete this cargo?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Yes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- END SIMPLE MODAL MARKUP -->

</section>
