<ion-header>
  <ion-navbar color="white">
    <ion-title id="pageTitle">FLIGHT</ion-title>
    <ion-buttons end class="newTask">
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="ios-exit-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="flightInfo">
    <div>
      <p>
        <span>{{flightProvider.flight.originCode}}</span><br>
        {{flightProvider.flight.origin}}
      </p>
    </div>
    <div class="connection">
      <p>
        <ion-icon name="ios-plane-outline"></ion-icon>
      </p>
    </div>
    <div>
      <p>
        <span>{{flightProvider.flight.destinationCode}}</span><br>
        {{flightProvider.flight.destination}}
      </p>
    </div>
  </div>

  <div class="flightDetail">
    <p class="title">DEPARTURE</p>
    <p class="text">{{flightProvider.flight.departureTime | date:'dd-MM-yyyy, h:mm a'}}</p>

    <div class="flightDetail2">
      <div>
        <p>
          <span class="title">FLIGHT</span><br>
          <span class="text">{{flightProvider.flight.flightNumber}}</span>
        </p>
      </div>
      <div>
        <p>
          <span class="title">No. Pax</span><br>
          <span class="text">{{flightProvider.flight.paxCount}}</span>
        </p>
      </div>
      <div></div>
    </div>
  </div>

  <!--<h3 class="services">Services</h3>-->
  <div class="flightDetail">

    <div class="service" tappable *ngFor="let service of flightProvider.flight.serviceList" (click)="viewDetail(service)">
      <p class="title">{{service.companyName}} (GHA)</p>
      <p class="text">{{service.type}} Service <ion-icon [ngClass]="service.status" name="ios-checkmark-circle"></ion-icon></p>
    </div>

    <button *ngIf="flightProvider.flight.status=='SCHEDULED'" class="scanBtn" ion-button (click)="flightProvider.takeoff()">Confirm Take Off</button>
  </div>


</ion-content>
